@tailwind base;
@tailwind components;
@tailwind utilities;


  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
    /* max-width: ;  */
  }
